* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  --webkit-font-smoothing: antialiased;
  background: #f3f3f3;
}

h1, h2, h3, h4, h5, h6, span {
  color: rgb(255,255,255);
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1250px) {
  .navbar .right a {
    margin-left: 20px !important;
  }

  .navbar .right a img {
    width: 40px !important;
  }

  .navbar-light .navbar-brand img {
    width: 130px !important;
  }
}

.col-md-12 {
  padding: 0;
  text-align: center;
}

.navbar-light {
  padding: 16px 58px 0 58px !important;
}

.navbar-light .navbar-brand img {
  width: 150px;
}

.navbar-light .right {

  font-size: 22px;
  font-weight: 500;
}

.navbar .right a {
  color: #333333;
  font-family: "Ubuntu";
  text-decoration: none;
  margin-left: 56px;
}

.navbar .right .flag {
  color: #C62828;
  font-family: "Ubuntu";
  text-decoration: none;
}

.input-group-text {
  background: #fff;
}

.mb-3 {
  margin-top: 48px;
}

.separator {
  margin: 58px;
  display: flex;
  align-items: center;
}

.separator h1 {
  color: #333333;
  font-size: 28px;
  margin-left: 16px;
  margin-right: 26px;
}

.separator hr {
  background: #2B2B2B;
  width: 100%;
  height: 1px;

  opacity: .5;
  border-radius: 5px;
}

/* .card .mb-3 {
  margin: 58px !important;
} */