* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  --webkit-font-smoothing: antialiased;
  background: #f3f3f3;
      /* justify-content: center !important; */
}

h1, h2, h3, h4, h5, h6, span {
  color: rgb(255,255,255);
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1250px) {
  .navbar .right a {
    margin-left: 20px !important;
  }

  .navbar .right a img {
    width: 40px !important;
  }

  .navbar-light .navbar-brand img {
    width: 130px !important;
  }
}

@media (max-width: 1350px) {
  .mb-3 {
    max-width: 100% !important;
    
  }
}

@media (max-width: 1700px) {
  .news {
    width: 18rem !important;
  }
}

@media (min-width: 2000px) {
  .col-md-12 {
    max-width: 90%;
    margin: auto;
  }
}

.col-md-12 {
  padding: 0;
  text-align: center;
}

.navbar-light {
  padding: 16px 58px 0 58px !important;
}

.navbar-light .navbar-brand .user {
  width: 150px;
}

.navbar-light .right {
  display: flex;
  font-size: 22px;
  font-weight: 500;
  align-items: center;
}

.navbar .right a {

  color: #333333;
  font-family: "Ubuntu";
  text-decoration: none;
  margin-left: 30px;
}

.navbar .right .flag {
  color: #C62828;
  font-family: "Ubuntu";
  text-decoration: none;
}

.input-group-text {
  background: #fff;
}

.carousel-container {
  margin-top: 50px;
}

.w-50 {
  margin: auto;
}

.carousel-inner {
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.carousel-item h5 {
  font-size: 24px;
  color: #C62828;
  font-weight: bold;
}

.carousel-item p {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.mb-3 {
  margin-top: 48px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.mb-3:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}

.click {
  display: flex;
  position: absolute;
  z-index: 1;

  width: 12%;
  height: 100%;

  justify-content: center;

  top: 0px;
  right: 0px;

  border-radius: 0 2px 2px 0;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: end;
  background: #C62828;

  opacity: 0;

  transition: opacity 0.4s;
}
.card.mb-3:hover .click {
  opacity: 1;
}

.separator {
  margin: 58px 58px 0 58px;
  display: flex;
  align-items: center;
}

.separator h1 {
  color: #333333;
  font-size: 28px;
  /* margin-left: 16px;
  margin-right: 26px; */
}

.separator hr {
  background: #2B2B2B;
  width: 100%;
  height: 1px;

  opacity: .5;
  border-radius: 5px;
}

.grid {
  display: grid;

  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template: 
  "a b"
  "a b"
  "a b";
}

.col-md-4 img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.card-body {
  text-align: left;
}

.card-body p.card-provider  {
  max-width: 90%;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-left: 10px;

  align-items: center;
} 

.card-body .card-title {
  max-width: 90%;
  font-size: 24px;
  color: #C62828;
} 

.card-body .card-text {
  max-width: 90%;
  font-size: 20px;
  color: #555555;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
}

.card-body .card-text small {
  max-width: 90%;
  font-size: 16px;
  color: #333333;
}

.news {
  text-align: left;
  margin: 58px 58px 0 0;
  /* width: 460px; */
  justify-self: end;
  grid-area: b;
}

.news .card-header {
  background: #fff;
  color: #C62828;
  font-weight: 700;
  text-align: center;
}

.news span {
  color: #C62828; 
}

.btn-primary {
  background: #C62828;
  margin: 0 58px 0 58px;
  border: none;
}

.btn-primary:hover {
  background: #9e2020;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  
  margin-top: 50px;
  background: #C62828;
  
  justify-content: center;
  align-items: center;

  border-radius: 4px 4px 0 0;
}

footer p {
  color: #fff;
}
