* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  --webkit-font-smoothing: antialiased;
  background: #f3f3f3;
}

h1, h2, h3, h4, h5, h6, span {
  color: rgb(255,255,255);
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1250px) {
  .navbar .right a {
    margin-left: 20px !important;
  }

  .navbar .right a img {
    width: 40px !important;
  }

  .navbar-light .navbar-brand img {
    width: 130px !important;
  }
}

@media (max-width: 1350px) {
  .mb-3 {
    max-width: 100% !important;
    
  }
}

.col-md-12 {
  padding: 0;
  text-align: center;
}

.navbar-light {
  padding: 16px 58px 0 58px !important;
}

.navbar-light .navbar-brand .user {
  width: 150px;
}

.navbar-light .right {
  display: flex;
  font-size: 22px;
  font-weight: 500;
  align-items: center;
}

.navbar .right a {

  color: #333333;
  font-family: "Ubuntu";
  text-decoration: none;
  margin-left: 30px;
}

.navbar .right .flag {
  color: #C62828;
  font-family: "Ubuntu";
  text-decoration: none;
}

.input-group-text {
  background: #fff;
}

.mb-3 {
  margin-top: 48px;
}

.separator {
  margin: 58px;
  display: flex;
  align-items: center;
}

.separator h1 {
  color: #333333;
  font-size: 28px;
  margin-left: 16px;
  margin-right: 26px;
}

.separator hr {
  background: #2B2B2B;
  width: 100%;
  height: 1px;

  opacity: .5;
  border-radius: 5px;
}

/* .card .mb-3 {
  margin: 58px !important;
} */

.col-md-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  text-align: left;
}

.card-body p.card-provider  {
  max-width: 90%;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-left: 10px;

  align-items: center;
} 

.card-body .card-title {
  max-width: 90%;
  font-size: 24px;
  color: #C62828;
} 

.card-body .card-text {
  max-width: 90%;
  font-size: 20px;
  color: #555555;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
}

.card-body .card-text small {
  max-width: 90%;
  font-size: 16px;
  color: #333333;
}