* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
}

body {
  --webkit-font-smoothing: antialiased;
  background: #F3F3F3;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 765px) {
  .title {
    text-align: center;
  }

  .title h3 {
    font-size: 46px !important;
  }

  .step-bar img {
    width: 100%;
  }

  .login {
    padding: 32px !important;
    margin: 0 32px;
    border-radius: 4px !important;
  }

  .btn-primary {
    width: 76px !important;
    height: 76px !important;
    border-radius: 32px !important;
  }
  
  @media (max-width: 1024px) {
    .bg-img-cloud {
      width: 0px !important;
    }

  }
}

.bg-img {
  position: absolute;
  z-index: -1;
  width: 450px;
  left: 0;
  top: 29px;
}

.bg-img-cloud {
  position: absolute;
  z-index: -1;
  /* width: 100%; */
  right: 0;
  bottom: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

.row {
  height: 100%;
  align-items: center;
}

.col-md-5 h3 {
  font-weight: medium;
  font-size: 52px;
}

.col-md-5 h3 span {
  font-weight: medium;
  font-size: 52px;
  color: #C62828;
}

.login {
  background: #fff;
  padding: 37px 60px;
  
  border-radius: 8px;
  border: 1px solid #C2C2C2;
}


.login .step-bar {
  margin-bottom: 37px;
}

form .form-group label {
  color: #555555;
  margin: 0;
  font-weight: 700;
}

form .form-group input, select {
  background: #F3F3F3;
  border: none !important;
}

form .form-group select {
    background: #f3f3f3 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
}

form .form-group input:focus, select:focus {
  background: #C2C2C2;
  border: none;
}

.button-wapper {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;

}

.btn-primary {
  width: 50px;
  height: 50px;
  text-align: center;
  background: #C62828;
  border: none;
  font-weight: 700;
  border-radius: 20px;

  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #C62828;
  opacity: 0.3;
  border: none;
}
